# EIXOS

In [1]:
import pandas
import numpy

In [2]:
file = 'E:\\Udemy - Cursos\\Data Science\\Pacotes\\drinks.csv'
drinks = pandas.read_csv(file)
drinks.columns

Index(['country', 'beer_servings', 'spirit_servings', 'wine_servings',
       'total_litres_of_pure_alcohol', 'continent'],
      dtype='object')

In [3]:
drinks.head(20)

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,Asia
1,Albania,89,132,54,4.9,Europe
2,Algeria,25,0,14,0.7,Africa
3,Andorra,245,138,312,12.4,Europe
4,Angola,217,57,45,5.9,Africa
5,Antigua & Barbuda,102,128,45,4.9,North America
6,Argentina,193,25,221,8.3,South America
7,Armenia,21,179,11,3.8,Europe
8,Australia,261,72,212,10.4,Oceania
9,Austria,279,75,191,9.7,Europe
10,Azerbaijan,21,46,5,1.3,Europe
11,Bahamas,122,176,51,6.3,North America
12,Bahrain,42,63,7,2.0,Asia
13,Bangladesh,0,0,0,0.0,Asia
14,Barbados,143,173,36,6.3,North America
15,Belarus,142,373,42,14.4,Europe
16,Belgium,295,84,212,10.5,Europe
17,Belize,263,114,8,6.8,North America
18,Benin,34,4,13,1.1,Africa
19,Bhutan,23,0,0,0.4,Asia

In [4]:
# apagando uma colunaTEMPORARIAMENTE

drinks.drop('continent', axis = 1).head()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
0,Afghanistan,0,0,0,0.0
1,Albania,89,132,54,4.9
2,Algeria,25,0,14,0.7
3,Andorra,245,138,312,12.4
4,Angola,217,57,45,5.9

In [5]:
# Não foi utilizado o INPLACE

drinks.head()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,Asia
1,Albania,89,132,54,4.9,Europe
2,Algeria,25,0,14,0.7,Africa
3,Andorra,245,138,312,12.4,Europe
4,Angola,217,57,45,5.9,Africa

In [6]:
# Apagando uma linha TEMPORARIAMENTE

drinks.drop(2, axis = 0).head()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,Asia
1,Albania,89,132,54,4.9,Europe
3,Andorra,245,138,312,12.4,Europe
4,Angola,217,57,45,5.9,Africa
5,Antigua & Barbuda,102,128,45,4.9,North America

In [7]:
# Calcula a média de cada coluna numérica

drinks.mean()

beer_servings                   106.160622
spirit_servings                  80.994819
wine_servings                    49.450777
total_litres_of_pure_alcohol      4.717098
dtype: float64

In [8]:
# Pode-se também fazer especificando o eixo

drinks.mean(axis = 0)

beer_servings                   106.160622
spirit_servings                  80.994819
wine_servings                    49.450777
total_litres_of_pure_alcohol      4.717098
dtype: float64

In [9]:
drinks.describe()

,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
count,193.000000,193.000000,193.000000,193.000000
mean,106.160622,80.994819,49.450777,4.717098
std,101.143103,88.284312,79.697598,3.773298
min,0.000000,0.000000,0.000000,0.000000
25%,20.000000,4.000000,1.000000,1.300000
50%,76.000000,56.000000,8.000000,4.200000
75%,188.000000,128.000000,59.000000,7.200000
max,376.000000,438.000000,370.000000,14.400000

In [10]:
# Calculando a média para cada linha 

drinks.mean(axis = 1).head()

0      0.000
1     69.975
2      9.925
3    176.850
4     81.225
dtype: float64

In [11]:
# ÍNDEX é um alias para axis 0

drinks.mean(axis = 'index')

beer_servings                   106.160622
spirit_servings                  80.994819
wine_servings                    49.450777
total_litres_of_pure_alcohol      4.717098
dtype: float64

In [12]:
# COLUMNS é um alias para axis 1

drinks.mean(axis = 'columns').head()

0      0.000
1     69.975
2      9.925
3    176.850
4     81.225
dtype: float64

In [13]:
file = 'E:\\Udemy - Cursos\\Data Science\\Pacotes\\eixos.csv'
eixos = pandas.read_csv(file)
eixos.columns

Index(['A', 'B', 'C'], dtype='object')

# Trabalhando com as linhas - axis = 0

O comportamento padrão da função mean() é o eixo 0 - axis = 0

In [14]:
eixos.mean()

A    10.0
B     5.0
C    10.0
dtype: float64

In [15]:
eixos.mean(axis = 0)

A    10.0
B     5.0
C    10.0
dtype: float64

In [16]:
eixos.sum(axis = 0)

A    30
B    15
C    30
dtype: int64

# Trabalhando com as colunas

In [17]:
eixos.mean(axis = 1)

0     6.666667
1     8.333333
2    10.000000
dtype: float64

In [18]:
eixos.sum(axis = 1)

0    20
1    25
2    30
dtype: int64

In [20]:
# Verificando os tipos

drinks.dtypes

country                          object
beer_servings                     int64
spirit_servings                   int64
wine_servings                     int64
total_litres_of_pure_alcohol    float64
continent                        object
dtype: object

In [ ]:
# Alterando o tipo em uma Serie existente

# Não é possível CONVERTER DIRETO populacao_int = drinks['population'] = int(drinks.population.str.replace(' . ', ' '))

populacao_in = drinks['population'] = drinks.population.str.replace('.', '')
populacao_int.head()

In [ ]:
inteiros = []

for item in drinks.population:
    a = item.replace('.', '')
    b = int(a)
    inteiros.append(b)

In [ ]:
inteiros[3]

In [ ]:
type(inteiros[3])

In [ ]:
drinks['pop_total'] = pandas.Series(inteiros)

In [ ]:
drinks.head()

In [ ]:
drinks.dtypes