# LISTAS

In [1]:
# Criação de listas

linguagens = ['Python', 'R', 'Julia', 'C++']

In [2]:
print(linguagens)

['Python', 'R', 'Julia', 'C++']

In [3]:
# lista heterogênea

mundiais = ['Brasil', 58, 62, 70, 94, 2002]

In [4]:
print(mundiais)

['Brasil', 58, 62, 70, 94, 2002]

In [5]:
# Assim como em strings, podemos indexar listas

pais = mundiais[0]
Titulo01 = mundiais[1]
Titulo02 = mundiais[2]
Titulo03 = mundiais[3]
Titulo04 = mundiais[4]
Titulo05 = mundiais[5]

In [6]:
print(pais)
print('\n')
print("O primeiro título mundial do Brasil foi em:",Titulo01)
print("O segundo  título mundial do Brasil foi em:",Titulo02)
print("O terceiro título mundial do Brasil foi em:",Titulo03)
print("O quarto   título mundial do Brasil foi em:",Titulo04)
print("O quinto   título mundial do Brasil foi em:",Titulo05)

Brasil


O primeiro título mundial do Brasil foi em: 58
O segundo  título mundial do Brasil foi em: 62
O terceiro título mundial do Brasil foi em: 70
O quarto   título mundial do Brasil foi em: 94
O quinto   título mundial do Brasil foi em: 2002

# Atualização de listas

In [7]:
# Listas são mutáveis

mundiais[0] = "Alemanha"

In [8]:
mundiais[0]

'Alemanha'

In [9]:
mundiais

['Alemanha', 58, 62, 70, 94, 2002]

# Operações com listas

In [ ]:
# Delete - Podemos deletar um elemento separado ou um range através do ÍNDICE

In [10]:
del mundiais[1 :]

In [11]:
print(mundiais)

['Alemanha']

In [12]:
# Adicionando elemento

mundiais.append(2014)

In [13]:
print(mundiais)

['Alemanha', 2014]

In [14]:
# Adicionando mais de um elemento 

mundiais.extend([1954, 1974, 1990, 1998])

In [15]:
print(mundiais)

['Alemanha', 2014, 1954, 1974, 1990, 1998]

In [16]:
# Podemos remover um elemento específico com a função REMOVE

mundiais.remove(1990)

In [17]:
print(mundiais)

['Alemanha', 2014, 1954, 1974, 1998]

# Listas Aninhadas

In [18]:
mundiais = [['Brasil', 1958, 1962, 1970, 1994, 2002], ['Alemanha', 1954, 1974, 1990, 2014]]

In [19]:
print(mundiais)

[['Brasil', 1958, 1962, 1970, 1994, 2002], ['Alemanha', 1954, 1974, 1990, 2014]]

In [20]:
# Trazendo o primeiro elemento da lista

print(mundiais[1])

['Alemanha', 1954, 1974, 1990, 2014]

In [21]:
# Acessando a lista e trazendo o segundo título do Brasil

print(mundiais[0][2])

1962

# Concatenando Listas

In [22]:
a = ['Argentina', 1986, 1978]

In [23]:
b = ['Alemanha', 1954, 1974, 1990, 2014]

In [24]:
c = ['Brasil', 1958, 1962, 1970, 1994, 2002]

In [25]:
# Concatendo

fifa = a + b + c

In [26]:
fifa

['Argentina',
 1986,
 1978,
 'Alemanha',
 1954,
 1974,
 1990,
 2014,
 'Brasil',
 1958,
 1962,
 1970,
 1994,
 2002]

In [28]:
fifa[7]

2014

# Operador in

In [29]:
# Verificado se um elemento está na lista

print('Uruguai' in fifa)

False

In [30]:
print('Argentina' in fifa)

True

In [31]:
# Imprimindo uma lista de uma equipe

equipe = 'Alemanha'

if equipe in fifa:
    a = fifa.index(equipe)
    print('O indíce da equipe: ', a)
    print(equipe)
    print(fifa[a + 1 :])
else:
    print(equipe + 'Não possui títulos ou não está na lista.')

O indíce da equipe:  3
Alemanha
[1954, 1974, 1990, 2014, 'Brasil', 1958, 1962, 1970, 1994, 2002]

# Funções Built-in

In [32]:
# Retorna o tamanho da lista

len(fifa)

14

In [33]:
# Valor máximo da lista -Não funciona com lisas heterogêneas

max(fifa)

TypeError: '>' not supported between instances of 'int' and 'str'

In [34]:
numeros = [100, 22, 88, 76, 89, 41, 12]
palavras = ['Maça', 'Abacaxi', 'Melão', 'Tomate', 'Caqui'] # Alfabeticamente

In [35]:
print(max(numeros))
print(max(palavras))

100
Tomate

In [36]:
# Valor mínimo da lista

print(min(numeros))
print(min(palavras))

12
Abacaxi

In [37]:
# Reverter a lista POSICIONALMENTE

numeros = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
numeros.reverse()
numeros

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [38]:
# Ordena a lista em ordem CRESCENTE

numeros.sort()
numeros

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [39]:
# Adicionando um valor repetido
# palavras = ['Maça', 'Abacaxi', 'Melão', 'Tomate', 'Caqui']

palavras.append('Tomate')

# Contado o número de ocorrências

palavras.count('Tomate')

2

In [40]:
# Criando uma lista vazia

a = []

In [41]:
print(a)

[]

In [42]:
type(a)

list

In [ ]:
# POP - Retira o último objeto da lista, mas tem como retorno o próprio objeto. É POSICIONAL

In [43]:
lista = ['B', 'C', 'A', 'H', 'Y']

print(lista)

['B', 'C', 'A', 'H', 'Y']

In [44]:
print(lista.pop())

Y

In [45]:
lista = ['Estatística', 'Matemática', 'ETL', 'HADOOP', 'BIG DATA', 'DATA SCIENCE', 'HIVE', 'SPARK', 'SQL']

print(lista)

['Estatística', 'Matemática', 'ETL', 'HADOOP', 'BIG DATA', 'DATA SCIENCE', 'HIVE', 'SPARK', 'SQL']

In [46]:
print(lista.pop())

SQL

In [47]:
print(lista)

['Estatística', 'Matemática', 'ETL', 'HADOOP', 'BIG DATA', 'DATA SCIENCE', 'HIVE', 'SPARK']

In [48]:
# Podemos também INDEXAR o objeto, iniciando de ( 0 )

print('Retirado o objeto: ', lista.pop(4))

Retirado o objeto:  BIG DATA

In [49]:
print(lista)

['Estatística', 'Matemática', 'ETL', 'HADOOP', 'DATA SCIENCE', 'HIVE', 'SPARK']

In [52]:
print('Desejo retirar o objeto "Matemática". Retirado: ',lista.pop(1))

Desejo retirar o objeto "Matemática". Retirado:  Matemática

# Os sets são conjuntos únicos. Semelhantes à um SELECT DISTINCT, e são muito utilizados em análise de dados.

In [53]:
conjunto = set()

In [54]:
conjunto.add('C#')
conjunto.add('Python')
conjunto.add('R')
conjunto.add('PL/SQL')

In [55]:
print(conjunto)

{'R', 'PL/SQL', 'C#', 'Python'}

In [56]:
# Tentondo adicionar um elemento repetido

conjunto.add('C#')

In [57]:
# Imprimindo novamento

print(conjunto)

{'R', 'PL/SQL', 'C#', 'Python'}

In [58]:
# SETS não suportam indexação

conjunto[1]

TypeError: 'set' object does not support indexing

In [59]:
type(conjunto)

set

In [60]:
engenheiros = set(['João', 'Maria', 'Kátia', 'Priscilla', 'Robson'])
programadores = set(['Maria', 'Belarmino', 'Creuza', 'Geronimo', 'Sabrina', 'Vagner', 'João'])
gerentes = set(['Paulo', 'Ana', 'Robson'])

In [61]:
engenheiros

{'João', 'Kátia', 'Maria', 'Priscilla', 'Robson'}

In [62]:
# União

funcionarios = engenheiros | programadores | gerentes

funcionarios

{'Ana',
 'Belarmino',
 'Creuza',
 'Geronimo',
 'João',
 'Kátia',
 'Maria',
 'Paulo',
 'Priscilla',
 'Robson',
 'Sabrina',
 'Vagner'}

In [63]:
funcionarios.sort()

AttributeError: 'set' object has no attribute 'sort'

In [64]:
# Interseção

gerencia_de_engenharia = engenheiros & gerentes

gerencia_de_engenharia

{'Robson'}

In [65]:
# Diferença

gerentes = set(['Janaina', 'Clarice', 'Marcos', 'Suzana'])
engenheiros = set(['Marcos', 'Suzana'])

diferenca = gerentes - engenheiros

diferenca

{'Clarice', 'Janaina'}

In [66]:
gerentes = set(['Janaina', 'Clarice', 'Marcos', 'Suzana', 'Sabrina'])
programadores = set(['Maria', 'Belarmino', 'Creuza', 'Geronimo', 'Sabrina', 'Vagner', 'João'])

diferenca = gerentes - programadores

diferenca

{'Clarice', 'Janaina', 'Marcos', 'Suzana'}