## Análise de Dados

# O primeiro passo para a análise de dados, logicamente é a leitura do arquivo.

In [ ]:
# O método OPEN do Python lê um arquivo e joga para uma variável.

titanic_csv = open('E:\Udemy - Cursos\Data Science\Pacotes\titanic.csv', 'r')

In [ ]:
# O método readlines() idenficica cada linha através do \n (Enter) 
# Uma LISTA de LINHAS

titanic_csv.readlines()

In [ ]:
#  Algo a se ter cuidado ao ler um arquivo no Python é que o mesmo arquivo não pode ser lido duas vezes, isso acontece porque o
# cursor fica após o último caracter. O método lê linhas

titanic_csv.readlines()

In [ ]:
# Podemos posicionar novamente o cursor na linha 0

titanic_csv.seek(0) # Retorna a leitura para a primeira linha

In [ ]:
# Aqui é lido o arquivo e enviado para resultado para outra variável

linhas = titanic_csv.readlines()

In [ ]:
linhas

In [ ]:
# Imprimindo o primeiro elemento da lista

linhas[0]

In [ ]:
linhas[1]

In [ ]:
# Note que temos o arquivo organizado em linhas e cada uma tem o seu índice

linhas[23]

In [ ]:
# Após o arquivo estar na variável, devemos fechar o arquivo para liberar memória

titanic_csv.close() # Fecha o arquivo - retira da memória

In [ ]:
# Vamos utilizar o método SPLIT para separar o elemento 0 por virgula, ou seja, separar cada cabeçalho

linhas[0].split(',')

In [ ]:
# Podemos realizar esta operação com qualquer linha

linhas[32].split(',')

In [ ]:
# Aqui será pego a linha 0 que contém o nome das colunas, e atribuir a uma variável

colunas = linhas[0].split(',')

In [ ]:
colunas

In [ ]:
# Como aprendemos em Python básico, podemos acessar cada linha de uma lista através do índice

colunas[0]

In [ ]:
# Cada coluna será a chave e os valores uma lista de Dicionário name: [ nameA, nameB, namC ]

# colunas = [PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked]
# LInhas = é todo o dataset

In [ ]:
# Será criado uma variável dados, que receberá o conteúdo da linha 1, separado por vírgula como foi feito no cabeçalho

dados = linhas[1].split(',')

In [ ]:
print('Colunas: ', colunas)
print('Dados: ', dados)

In [ ]:
# Aqui é pego a primeira posição de cada lista e consegue-se correlacionar

print(colunas[1])
print(dados[1])

In [ ]:
# É boa pratica, sempre contar o número de elementos da Lista

print(len('Colunas: ',colunas)), print(len('Dados: ',dados))

In [ ]:
# Problema- o nome das pessoas tem vírgula - REGEX PAL .*(qq texto qq qtde) \s -> espaço em REGEX
# www.regexpal.com

# O objetivo é retirar a vírgula e inverter a posição dos nomes

In [ ]:
import re # Regex Expression

match = re.compiler(r'"(.*)(,)(\s.*)"')
match.sub(r'"\3 \1"', linhas[1])

In [ ]:
# Criando uma função que remove a vírgula dos nomes e troca a posição

def tratar_nome(linha):
    import me
    match = re.compiler(r'"(.*)(,)(\s.*)"')    
    return match.sub(r'"\3 \1"', linha)

In [ ]:
# Agora é testado a função na linha 1

tratar_nome(linhas[1])

In [ ]:
linha1_Tratada = tratar_nome(linhas[1])

In [ ]:
linha1_Separada = linha1_Tratada.split(',')

In [ ]:
print('Colunas: ', colunas)
print('Linha Tratada: ', linha1_Tratada)
print('Linha Separada: ', linha1_Separada)

In [ ]:
# Qual a diferença entre a Tratada e Separada ?

print(type('Linha Tratada: ', linha1_Tratada))
print(type('Linha Separada: ', linha1_Separada))

In [ ]:
print(len('Colunas: ', colunas)), print(len('Linha Separada: ', linha1_Separada))

In [ ]:
# Criando o Dicionário - o Dicionário titanic_dados está recebendo a coluna como Chave e uma Lista vazia como Valor

In [ ]:
# Na criação do Dicionário, será criado as Chaves e os Valores como vazios

titanic_dados = {}

for coluna in colunas:
    titanic_dados[coluna] = []
titanic_dados

In [ ]:
linhas[1] # Verificando cada item e cada Chave

In [ ]:
# Aqui é tratado todas as linhas, excluindo a linha 0 que é o cabeçalho

for dado in linhas[1:]:
    dado_tratado = tratar_nome(dado)
    print(dado_tratado)

In [ ]:
# Aqui é feito a mesma coisa, porém, será separado as linhas por vírgula e converter em uma lista

for dado in linhas[1:]:
    dado_tratado = tratar_nome(dado)
    dado_como_lista = dado_tratado.split(',')
    print(dado_como_lista)

In [ ]:
#  Aqui é feito o mesmo passo dos anteriores, porém, será criado uma Lista para adicionar cada Linha convertida em linha 
# fazendo uma Lista aninhada
 
dados_tratados = [] # Lista de lista

for dado in linhas[1:]:
    dado_tratado = tratar_nome(dado) # Tratando o nome
    dado_como_lista = dado_tratado.split(',') # Transformando String em Linha
    dados_tratados.append(dado_como_lista) # Adicionando o resultado em (dados_como_lista)

In [ ]:
print(dados_tratados[0])

In [ ]:
# colunas 1 e 4 do cabeçalho, colunas 1 e 4 da linha 1, conseguiu-se correlacionar

print('Name: ', colunas[3]), print('Age: ', colunas[5])
print(dados_tratados[1][3], dados_tratados[1][5])

In [ ]:
#  Note que colunas é a Lista de cabeçalho separada, e passageiro é a variável que estamos criando para o FOR e vai 
# percorrer dados_tratados

for passageiro in dados_tratados:
    print(colunas[3], passageiro[3]) # Mesmo índice coluna e passageiro

# Utilizando o ENUMERATE. O enumerate RETORNA o ÍNDICE em que o elemento está e também o seu valor

In [ ]:
print(colunas)
print('Coluna no índice 10:', colunas[10])

In [ ]:
# Pegando o índice para correlacionar com as colunas

for passageiro in dados_tratados:
    print(passageiros)
    for indice, dado in enumerate(passageiro):
        print('Índice: ', indice, 'Dado: ', dado

In [ ]:
# 01 - Pegar cada Linha da variável dados_tratados e colocar em passageiro
# 02 - Fazer um FOR em passageiro e pegar o índice e o restante dos dados
# 03 - Vai até a variável coluna e pega a coluna no respectivo índice

for passageiro in dados_tratados:
    for indice, dado in enumerate(passageiro): # Enumerate retorna índice e valor ( atribuição multipla)
        coluna = colunas[indice]
        print(coluna, dado)

# Linhas = 
#Todo o arquivo, sem nenhum tratamento, onde cada índice é uma linha, por exemplo: linha[0]

# Colunas = 
#[PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked]

# Dados = 
#[4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35,1,0,113803,53.1,C123,S]

# titanic_dados = 
#O Dicionário com as Chaves (colunas) sem os valores

In [ ]:
print(titanic_dados)

In [ ]:
for passageiro in dados_tratados:
    for indice, dado in enumerate(passageiro): 
        coluna = colunas[indice]
        titanic_dados[coluna].append(dado)

In [ ]:
titanic_dados

In [ ]:
int(titanic_dados['Age'][0])

In [ ]:
for dado in titanic_dados['age']:
       print(dado)

In [ ]:
for indice, age in enumerate(titanic_dados['Age']):
    if titanic_dados['Age'][indice] != '':
        titanic_dados['Age'][indice] = float(age)
    else:
        titanic_dados['Age'][indice] = -1

In [ ]:
type(titanic_dados['Age'][0]

In [ ]:
print(max(titanic_dados['Age']))

In [ ]:
print(min(titanic_dados['Age']))

In [ ]:
lista_idades = []

for idade in titanic_dados['Age']:
    if idade != -1:
        lista_idade.append(idade)

In [ ]:
def media(lista):
    soma_total = sum(lista)
    quantidade = len(lista)
    return soma_total / quantidade

In [ ]:
print(media(lista_idades))

In [ ]:
media_idades = media(lista_idades)

In [ ]:
for indice, age in enumerate(titanic_dados['Age']):
    if age == -1:
        titanic_dados['Age'][indice] = media_dados

In [ ]:
print(titanic_dados)

# Importanto PANDAS

In [ ]:
import pandas

titanic_dados = pandas.read_csv('titanic.csv')
titanic_dados.head(10)